@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h2{
    font-size: 38px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 700;
}

.border{
    border: 1px solid red!important;
}

a,a:hover{
    text-decoration: none!important;
    color: inherit!important;
}

li{
    list-style-type: none;
}

.btn{
    background-color: #10c9c3!important;
    color: white!important;
    text-transform: uppercase;
    border-radius: 0;
}

header .active{
    color: #10c9c3!important;
}

header .opacity{
    background: linear-gradient(white 10%, #dde7e900);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header{
    height: 671px;
    background-image: url('../img/banner/laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
}

nav .navbar-brand{
    width: 31px;
    height: 25px;
}

nav .navbar-brand img{
    width: 100%;
}

nav .nav-item{
    margin-right: 25px;
}

nav .nav-link{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.hero-sec {
    position: relative;
}

.hero-sec .text-sec-right{
    width: 500px;
}

.hero-sec .text-sec-right .text{
    color: #525252;
}

.hero-sec .text-sec-right .heading h2{
    font-size: 38px;
    font-weight: 600;
}